section header {
    font-weight: bolder;
    font-size: large;
}

#api-result-json {
    /*display: none;*/
}

form label {
    display: block;
    padding-bottom: 1em;
}

form label input {
    display: block;
}
