nav {
    border-bottom: 1px solid black;
}

nav ol {
    list-style-type: none;
    padding-left: 0;
}

nav li {
    display: inline-block;
}

nav li:not(:last-child) a::after {
    display: inline-block;
    color: #000;
    content: '|';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

nav a.active {
    background: beige;
    /*text-underline: black;*/
    /*text-underline-style: dash-dot-heavy;*/
}

section {
    max-width: 800px;
}

section header {
    font-weight: bolder;
    font-size: large;
}

#api-result-json {
    /*display: none;*/
}

form label {
    display: block;
    padding-bottom: 1em;
}

form label input {
    display: block;
}

td, th {
    border: lightgrey 1px dashed;
}

th {
    border-top: none;
}

tr:last-child td {
    border-bottom: none;
}

td:first-child, th:first-child {
    border-left: none;
}
td:last-child, th:last-child {
    border-right: none;
}

table {
    border-collapse: collapse;
}
